<%- include('./partials/header') -%>
<div class="container container-fluid">
    <h1>Home page</h1>
    <p><%= homePar %></p>
    <% postsArr.forEach(element => { %>
       <a href="/posts/<%=element._id%>">
        <h1><%= element.title%></h1></a>
        <p> <%= element.content %>... </p> 
    <% }); %>
</div>
<%- include('./partials/footer') -%>